.background__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 200, 0, 0.3);
}

.type--grass {
    /* background-color: green !important; */
    background-image: url(../img/grass-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--grass {
    background-color: green;
    color: white;
}

.type--fire {
    /* background-color: orange !important; */
    background-image: url(../img/fire-bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--fire {
    background-color: red;
    color: white;
}

.type--water {
    background-color: rgb(124, 175, 234) !important;
    background-image: url(../img/water-bg.webp);
    /* background-position-y: -70px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--water {
    background-color: blue;
    color: white;
}

.type--bug {
    /* background-color: brown !important; */
    background-image: url(../img/bug-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--bug {
    background-color: brown;
    color: white;
}

.type--normal {
    background-color: antiquewhite !important;
    background-image: url(../img/normal-bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.type--poison {
    background-color: greenyellow !important;
    background-image: url(../img/poison-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--poison {
    background-color: rgb(179, 19, 179);
    color: white;
}

.type--electric {
    /* background-color: rgb(237, 237, 30) !important; */
    background-image: url(../img/electric-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--electric {
    background-color: yellow;
    color: black;
}

.type--ground {
    /* background-color: burlywood !important; */
    background-image: url(../img/ground-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.type-info--ground {
    background-color: burlywood;
    color: black;
}

.type--fairy {
    /* background-color: pink !important; */
    background-image: url(../img/fairy-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
}

.type-info--fairy {
    background-color: palevioletred;
    color: white;
}

.type--fighting {
    /* background-color: darkkhaki !important; */
    background-image: url(../img/fighting-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--fighting {
    background-color: tomato;
    color: white;
}

.type--psychic {
    /* background-color: blueviolet !important; */
    background-image: url(../img/psychic-bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
}

.type-info--psychic {
    background-color: purple;
    color: white;
}

.type--rock {
    /* background-color: gray !important; */
    background-image: url(../img/rock-bg.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--rock {
    background-color: grey;
    color: white;
}

.type--ghost {
    /* background-color: rgb(221, 180, 221) !important; */
    background-image: url(../img/ghost-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--ghost {
    background-color: violet;
    color: black;
}

.type--ice {
    /* background-color: azure !important; */
    background-image: url(../img/ice-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--ice {
    background-color: azure;
    color: black;
}

.type--dragon {
    /* background-color: cadetblue !important; */
    background-image: url(../img/dragon-bg.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--dragon {
    background-color: cadetblue;
    color: white;
}

.type--dark {
    /* background-color: rgba(0, 0, 0, 0.4) !important; */
    background-image: url(../img/dark-bg.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--dark {
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
}

.pokemon-list__container {
    color: white !important;
}

.type--steel {
    /* background-color: rgba(150, 150, 150, 0.5) !important; */
    background-image: url(../img/steel-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-info--steel {
    background-color: gainsboro;
    color: black;
}

.type--flying {
    background-image: url(../img/flying-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.type-info--flying {
    background-color:honeydew;
    color: black;
}

/* .font-color--dark {

} */

h5 {
    background-color: transparent !important;
}