html {
    scroll-behavior: smooth;
}

.carousel {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.carousel-slide {
    display: flex;
    justify-content: center;
}

.carousel-item {
    display: flex !important;
    justify-content: center !important;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
    background-color: aqua;
    background-image: url(../img/main-bg.webp);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-image: url(../img/header-footer.webp);
    background-size: cover;
    min-width: 100vw;
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0 0 16px 16px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.hide-overflow {
    overflow: hidden;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.searchbar {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"%3E%3Cpath d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/%3E%3C/svg%3E') no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
    padding-left: 30px;
}

.searchbar::placeholder {
    color: transparent;
    /* Placeholder-Text unsichtbar machen */
}


@media (min-width: 600px) {
    .search {
        position: absolute;
        left: calc(50% - 88px);
    }
}

.logo-font {
    color: yellow;
    margin-block: 0;
}

@media (max-width: 803px) {
    .logo-font {
        display: none;
    }
}

.setting-icon {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.setting-icon:hover {
    transform: scale(1.2) rotate(45deg);
}

.setting-icon:active {
    filter: invert();
}

.slider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(100, 100, 100, 0.9);
}

.carousel-control-prev {
    left: unset !important;
    right: calc(50% + 150px);
    justify-content: flex-end !important;
}

.carousel-control-next {
    left: calc(50% + 150px);
    justify-content: flex-start !important;
}

.carousel-button { /* todo: change in relation to details-card height! */ 
    top: calc(50% - 100px) !important; 
    bottom: calc(50% - 100px) !important;
}

.carousel-button:hover {
    filter: invert();
}


@media (min-width: 436px) {
    .carousel-control-prev {
        right: calc(50% + 174px);
    }
    
    .carousel-control-next {
        left: calc(50% + 174px);
    }
}

@media (min-width: 700px) {
    .carousel-control-prev {
        right: calc(50% + 224px);
    }
    
    .carousel-control-next {
        left: calc(50% + 224px);
    }
}

@media (max-width: 435px) {
    .carousel-control-prev {
        top: calc(50% + 100px) !important;
        width: 50% !important;
        height:50px;
        right: calc(50%);
        margin-top:16px;
        align-items: flex-start !important;
        justify-content: center !important;
    }
    
    .carousel-control-next {
        top: calc(50% + 100px) !important;
        width: 50% !important;
        height: 50px;
        left: calc(50%);
        margin-top:16px;
        align-items: flex-start !important;
        justify-content: center !important;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    margin-top: 96px;
}

.more-pokemon {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.more-pokemon button {
    background-color: rgba(125, 125, 126, 0.2);
    transition: all 0.5s;
    margin-bottom: 16px;
}

.more-pokemon button:hover {
    color: white;
    transform: scale(1.1);
    background-color: rgba(100, 100, 100, 0.95);
}

footer {
    background-image: url(../img/header-footer.webp);
    height: 56px;
    z-index: 10;
    border-radius: 16px 16px 0 0;
}

.logo {
    height: 80px;
}

.d-none {
    display: none;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.progress-bar {
    color: black !important;
    padding: 0 16px;
}

.dim-screen {
    filter: opacity(0.2)
}

.hidden-by-settings {
    filter: opacity(0.2)
}

.settings-view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.settings {
    /* width: 80%; */
    position: relative;
    top: 32px;
    padding: 16px;
    /* height: 80%; */
    background-color: wheat;
    border-radius: 16px;
}

.loading-spinner {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading-spinner img {
    animation: spinner 4s linear infinite;
}

.pokemon-list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
    margin: 16px 0;
}

.pokemon__type-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pokemon__type-info {
    background-color: white;
    padding: 0 8px;
    color: black;
    border-radius: 24px;
    text-align: center;
}

.pokemon__info-box__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.scroll-behavior--blocked {
    overflow: hidden;
}

.pokedex__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.pokedex__image {
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}

.card {
    width: fit-content;
    margin: 8px;
    transition: all 0.2s ease-in-out;
    font-family: "Inter", sans-serif;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.1);
    rotate: -5deg;
}

.card-body {
    width: 250px;
}


@media (min-width: 700px) {
    .details-card {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .carousel-control-prev {
        right: calc(50% + 324px);
    }
    
    .carousel-control-next {
        left: calc(50% + 324px);
    }

    .details-card {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .carousel-control-prev {
        right: calc(50% + 424px);
    }
    
    .carousel-control-next {
        left: calc(50% + 424px);
    }

    .details-card {
        width: 800px;
    }
}


@media (max-width: 699px) {
    .details-card {
        width: 300px;
    }

    .pokedex__image {
        width: 75px;
        height: 75px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 535px) {
    .card-body {
        width: 200px;
    }

    .pokedex__image {
        width: 75px;
        height: 75px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 435px) {
    .card-body {
        width: 300px;
    }

    .pokedex__image {
        width: 110px;
        height: 110px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 375px) {
    header {
        padding: 16px;
    }

    .logo-section img {
        height: 50px;
    }

    .menu img {
        height: 50px;
    }
}

.pokemon__photo-box:hover {
    background-image: url('../img/glow2.png');
    background-position: center;
    background-size: cover;
}

@keyframes spinner {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.wpx-100 {
    width: 100px !important;
}

.wpx-150 {
    width: 150px !important;
}

.wpx-175 {
    width: 175px !important;
}

.wpx-200 {
    width: 200px !important;
}

.pl-2 {
    padding-left: 24px !important;
}