html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
    color: white;
    background-image: url(../img/main-bg.webp);
}

.stroke {
    text-shadow: 0 0 2px red
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-image: url(../img/header-footer.webp);
    background-size: cover;
    min-width: 100vw;
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 0 0 16px 16px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.hide-overflow {
    overflow: hidden;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.search {
    background-color: rgba(100, 100, 100, 0.95);
}

.searchbar {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"%3E%3Cpath d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/%3E%3C/svg%3E') no-repeat;
    background-position: 10px center;
    background-size: 16px 16px;
    padding-left: 30px;
}

@media (min-width: 600px) {
    .search {
        position: absolute;
        left: calc(50% - 88px);
    }
}

.logo-font {
    color: yellow;
    margin-block: 0;
}

.text-shadow {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.text-shadow-white {
    text-shadow:
        1px 1px 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

@media (max-width: 803px) {
    .logo-font {
        display: none;
    }
}

.setting-icon {
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.setting-icon:hover {
    transform: scale(1.2) rotate(45deg);
}

.setting-icon:active {
    filter: invert();
}

.slider {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(100, 100, 100, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex !important;
}

.tab-content {
    display: flex;
    flex: 1;
}

.tab-pane {
    display: flex;
    flex: 1;
}

.tab-content p {
    margin-block: 0;
}


@media (min-width: 436px) {
    .carousel-control-prev {
        right: calc(50% + 174px);
    }

    .carousel-control-next {
        left: calc(50% + 174px);
    }
}

@media (min-width: 700px) {
    .carousel-control-prev {
        right: calc(50% + 224px);
    }

    .carousel-control-next {
        left: calc(50% + 224px);
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    margin-top: 96px;
}

.more-pokemon {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.more-pokemon button {
    background-color: rgba(125, 125, 126, 0.2);
    transition: all 0.5s;
    margin-bottom: 16px;
}

.more-pokemon button:hover {
    color: white;
    transform: scale(1.1);
    background-color: rgba(100, 100, 100, 0.95);
}

footer {
    background-image: url(../img/header-footer.webp);
    height: 56px;
    z-index: 10;
    border-radius: 16px 16px 0 0;
}

.logo {
    height: 80px;
}

.d-none {
    display: none;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.progress-bar {
    color: black !important;
    padding: 0 16px;
}

.hidden-by-settings {
    filter: opacity(0.2)
}

.detail-types {
    width: 130px !important;
}

.settings-view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.settings {
    position: relative;
    top: 32px;
    padding: 16px;
    background-color: wheat;
    border-radius: 16px;
    color: black;
    border: 4px solid black;
}

.nav-hover {
    filter: brightness(0.8);
    transition: all 0.2s ease-in-out;
}

.nav-hover:hover {
    filter: brightness(1);
}

.sound-box {
    position: absolute;
    right: 16px;
    top: 50%;
}

.sound-box button {
    background-color: transparent;
    border: 0;
}

.play-cry {
    height: 50px;
}

.play-cry:hover {
    filter: brightness(1.5);
}

.loading-spinner {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(200, 200, 200, 0.8);
}

.loading-spinner img {
    animation: spinner 4s linear infinite;
    user-select: none;
}

.loading-text {
    user-select: none;
}

.settings-group {
    display: flex;
    gap: 8px;
}

.sound-settings {
    display: flex;
    margin-bottom: 8px;
    gap: 8px;
}

.pokemon-list__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
    margin: 16px 0;
}

.pokemon__type-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 56px;
    gap: 8px;
}

.pokemon__type-info {
    background-color: white;
    padding: 0 8px;
    color: black;
    border-radius: 24px;
    text-align: center;
}

.card-wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name-and-id {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.scroll-behavior--blocked {
    overflow: hidden;
}

.stats-table {
    table-layout: fixed;
    border-collapse: separate;
    width: 100%;
}

.stats-table__rows td {
    position: relative;
    border: 0;
    height: 32px;
    padding-left: 8px;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 12px;
}

.stats-table__rows img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
}

.skill-name {
    margin-block: 0;
    margin-bottom: 2px;
}

.skill-description {
    padding-bottom: 16px;
}

.hp-bar {
    background-image: url('../img/hp-bar.webp');
}

.attack-bar {
    background-image: url('../img/attack-bar.webp');
}

.defense-bar {
    background-image: url('../img/defense-bar.webp');
}

.special-attack-bar {
    background-image: url('../img/special-attack-bar.webp');
}

.special-defense-bar {
    background-image: url('../img/special-defense-bar.webp');
}

.speed-bar {
    background-image: url('../img/speed-bar.webp');
}


.pokedex__card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.pokedex__image {
    width: 100px;
    height: 100px;
    transition: all 0.2s ease-in-out;
}

.preview {
    width: fit-content;
    margin: 8px;
    transition: all 0.2s ease-in-out;
    font-family: "Inter", sans-serif;
}

.preview:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.preview:hover img {
    transform: scale(1.1);
    rotate: -5deg;
}

.details-card:hover {
    transform: scale(1) !important;
    rotate: 0deg !important;
}


.card-body {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.card-title--detailpage {
    color: white;
}

.types-and-image {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 16px;
    gap: 8px;
    max-width: 75%;
    align-items: center;
}


.d-block {
    border: 0;
    border-radius: 16px;
}


@media (min-width: 700px) {
    .details-card {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .carousel-control-prev {
        right: calc(50% + 324px);
    }

    .carousel-control-next {
        left: calc(50% + 324px);
    }
}

@media (min-width: 1200px) {
    .carousel-control-prev {
        right: calc(50% + 424px);
    }

    .carousel-control-next {
        left: calc(50% + 424px);
    }
}

@media (max-width: 535px) {
    .card-body {
        width: 200px;
    }

    .pokedex__image {
        width: 75px;
        height: 75px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 699px) {
    .details-card {
        width: 300px;
    }

    .sound-box {
        right: 12px;
        top: 30%;
    }

    .pokedex__image {
        width: 75px;
        height: 75px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 435px) {
    .card-body {
        width: 288px;
    }

    .pokedex__image {
        width: 110px;
        height: 110px;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width: 375px) {
    header {
        padding: 16px;
    }

    .logo-section img {
        height: 50px;
    }

    .menu img {
        height: 50px;
    }
}

.pokemon__photo-box:hover {
    background-image: url('../img/glow2.png');
    background-position: center;
    background-size: cover;
}

@keyframes spinner {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.wpx-100 {
    width: 100px !important;
}

.wpx-150 {
    width: 150px !important;
}

.wpx-175 {
    width: 175px !important;
}

.wpx-200 {
    width: 200px !important;
}

.pl-2 {
    padding-left: 24px !important;
}

.details-card {
    padding: 0 !important;
    /* border-radius: 16px 16px 0 0; */
}

.details-image {
    height: 120px;
}

.detail-spacing {
    margin-top: 32px;
    margin-bottom: 12px;
}

.details-top-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
}

.details-bottom-wrapper {
    background-color: silver;
    width: 100%;
    border-radius: 0 16px 0 0;
    padding: 16px;
    color: black;
    height: 264px;
    overflow-y: auto;
}

.details-tab-list {
    margin: 16px 0 1px;
    border: 0;
}

.nav-buttons-bottom-box {
    display: none;
    width: 100%;
    gap: 2px;
}

.nav-buttons-bottom-left {
    width: 50%;
    border: 0;
    border-radius: 0 0 0 8px;
}

.nav-buttons-bottom-right {
    width: 50%;
    border: 0;
    border-radius: 0 0 8px 0;
}

.nav-buttons-side {
    height: 100%;
}

.nav-tabs .nav-item .nav-link {
    /* background-color: bisque; */
    color: #000;
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: white;
    color: black;
}

.nav-tabs .nav-item .nav-link.active:hover {
    background-color: white;
    color: black;
}

.nav-tabs .nav-item .nav-link {
    background-color: rgba(240, 240, 240, 0.6);
    color: black;
}

.nav-tabs .nav-item .nav-link:hover {
    background-color: rgba(200, 200, 200, 0.8);
    color: black;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.rotated {
    writing-mode: vertical-lr;
}

.mirrored {
    transform: rotate(180deg);
}

.card-wrapper__inner {
    /* Controls detail-views height*/
    display: flex;
    height: 600px;
    gap: 2px;
}

.nav-borders {
    border-radius: 0 8px 8px 0;
    border: 0;
}

.nav-buttons-left {
    height: 100%;
    width: 50px;
    padding-left: 12px;
}

.nav-buttons-right {
    height: 100%;
    width: 50px;
    padding-left: 12px;
}

@media (max-width: 450px) {
    .card-wrapper {
        flex-direction: column;
    }

    .details-card {
        border-radius: 16px;
    }

    .nav-borders {
        display: none;
    }

    .nav-buttons-bottom-box {
        display: flex;
        height: 50px;
        margin-top: 2px;
    }

    .details-bottom-wrapper {
        border-radius: 0 16px 0 0;
    }
}