<div id="poke-card" class="carousel carousel-dark slide carousel-fade">
  <div class="carousel-inner" onclick="stopBubbeling(event);">

    <!-- Card 0 -->
    <div class="carousel-item">
      <div class="card d-block">
        <div class="card-body details-card" id="card-0-bg-target">
          <div class="details-top-wrapper">
            <div class="name-and-id">
              <h3 class="card-title" id="card-0-title">B</h3>
              <h4 id="card-0-poke-id"></h4>
            </div>
            <div class="flex-cc">
              <div class="types-and-image">
                <div id="card-0-types" class="pokemon__type-box"></div>
                <img src="" class="details-image" alt="" id="card-0-pokemon-image">
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs details-tab-list" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="card-0-tab-0-btn" data-bs-toggle="tab" data-bs-target="#card-0-tab-0" type="button"
                role="tab" aria-controls="home" aria-selected="true" onclick="simulateClick(0)">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-0-tab-1-btn" data-bs-toggle="tab" data-bs-target="#card-0-tab-1" type="button"
                role="tab" aria-controls="profile" aria-selected="false" onclick="simulateClick(1)">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-0-tab-2-btn" data-bs-toggle="tab" data-bs-target="#card-0-tab-2" type="button"
                role="tab" aria-controls="contact" aria-selected="false" onclick="simulateClick(2)">Contact</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- Content Tab 1 -->
            <div class="tab-pane fade show active" id="card-0-tab-0" role="tabpanel" aria-labelledby="card-0-tab-0-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 0 Tab 1</p>
              </div>
            </div>
            <!-- Content Tab 2 -->
            <div class="tab-pane fade" id="card-0-tab-1" role="tabpanel" aria-labelledby="card-0-tab-1-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 0 Tab 2</p>
              </div>
            </div>
            <!-- Content Tab 3 -->
            <div class="tab-pane fade" id="card-0-tab-2" role="tabpanel" aria-labelledby="card-0-tab-2-btn">
              <div class="card-body details-bottom-wrapper">
                <p> Karte 0 Tab 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 1 -->
    <div class="carousel-item active">
      <div class="card d-block">
        <div class="card-body details-card" id="card-1-bg-target">
          <div class="details-top-wrapper">
            <div class="name-and-id">
              <h3 class="card-title" id="card-1-title">B</h3>
              <h4 id="card-1-poke-id"></h4>
            </div>
            <div class="flex-cc">
              <div class="types-and-image">
                <div id="card-1-types" class="pokemon__type-box"></div>
                <img src="" class="details-image" alt="" id="card-1-pokemon-image">
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs details-tab-list" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="card-1-tab-0-btn" data-bs-toggle="tab" data-bs-target="#card-1-tab-0" type="button"
                role="tab" aria-controls="home" aria-selected="true" onclick="simulateClick(0)">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-1-tab-1-btn" data-bs-toggle="tab" data-bs-target="#card-1-tab-1" type="button"
                role="tab" aria-controls="profile" aria-selected="false" onclick="simulateClick(1)">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-1-tab-2-btn" data-bs-toggle="tab" data-bs-target="#card-1-tab-2" type="button"
                role="tab" aria-controls="contact" aria-selected="false" onclick="simulateClick(2)">Contact</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- Content Tab 1 -->
            <div class="tab-pane fade show active" id="card-1-tab-0" role="tabpanel" aria-labelledby="card-1-tab-0-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 1 Tab 1</p>
              </div>
            </div>
            <!-- Content Tab 2 -->
            <div class="tab-pane fade" id="card-1-tab-1" role="tabpanel" aria-labelledby="card-1-tab-1-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 1 Tab 2</p>
              </div>
            </div>
            <!-- Content Tab 3 -->
            <div class="tab-pane fade" id="card-1-tab-2" role="tabpanel" aria-labelledby="card-1-tab-2-btn">
              <div class="card-body details-bottom-wrapper">
                <p> Karte 1 Tab 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="carousel-item">
      <div class="card d-block">
        <div class="card-body details-card" id="card-2-bg-target">
          <div class="details-top-wrapper">
            <div class="name-and-id">
              <h3 class="card-title" id="card-2-title">B</h3>
              <h4 id="card-2-poke-id"></h4>
            </div>
            <div class="flex-cc">
              <div class="types-and-image">
                <div id="card-2-types" class="pokemon__type-box"></div>
                <img src="" class="details-image" alt="" id="card-2-pokemon-image">
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs details-tab-list" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="card-2-tab-0-btn" data-bs-toggle="tab" data-bs-target="#card-2-tab-0" type="button"
                role="tab" aria-controls="home" aria-selected="true" onclick="simulateClick(0);stopBubbeling(event);">Home</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-2-tab-1-btn" data-bs-toggle="tab" data-bs-target="#card-2-tab-1" type="button"
                role="tab" aria-controls="profile" aria-selected="false" onclick="simulateClick(1);stopBubbeling(event);">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="card-2-tab-2-btn" data-bs-toggle="tab" data-bs-target="#card-2-tab-2" type="button"
                role="tab" aria-controls="contact" aria-selected="false" onclick="simulateClick(2);stopBubbeling(event);">Contact</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- Content Tab 1 -->
            <div class="tab-pane fade show active" id="card-2-tab-0" role="tabpanel" aria-labelledby="card-2-tab-0-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 2 Tab 1</p>
              </div>
            </div>
            <!-- Content Tab 2 -->
            <div class="tab-pane fade" id="card-2-tab-1" role="tabpanel" aria-labelledby="card-2-tab-1-btn">
              <div class="card-body details-bottom-wrapper">
                <p>Karte 2 Tab 2</p>
              </div>
            </div>
            <!-- Content Tab 3 -->
            <div class="tab-pane fade" id="card-2-tab-2" role="tabpanel" aria-labelledby="card-2-tab-2-btn">
              <div class="card-body details-bottom-wrapper">
                <p> Karte 2 Tab 3</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- End of Cards -->
  </div>
  <button class="carousel-control-prev carousel-button" id="prev-button" type="button" data-bs-target="#poke-card"
    data-bs-slide="prev" onclick="previousPokemon();stopBubbeling(event);">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next carousel-button" id="next-button" type="button" data-bs-target="#poke-card"
    data-bs-slide="next" onclick="nextPokemon();stopBubbeling(event);">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>