<div class="header-wrapper">
    <section id="logo-section" class="logo-section">
        <img src="./assets/icons/loading-spinner.svg" class="logo" alt="">
        <h2 class="logo-font">Pokédex</span>
    </section>
    <section class="search">
        <input class="form-control rounded-pill pl-2 text-center wpx-175 searchbar" maxlength="12" type="text" id="search" placeholder="Search…" onkeyup="searchForPokemon();">
    </section>
    <section id="menu">
        <img src="./assets/icons/settings.svg" alt="Settings" class="setting-icon" id="settings-toggle" onclick="toggleSettings(1)">
    </section>
    <!-- <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="sound-type" onchange="changeSoundType()" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked" id="sound-label">legacy cries active</label>
    </div> -->
</div>